/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/
.userForm {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
.userForm fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
.userForm fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
.userForm input,
.userForm textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
.submitButton {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.userForm .submitButton:hover,
.userForm .submitButton:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: 200ms;
  background: #fff;
}
.avatar:hover .avatarImg {
  opacity: 0.6;
}
.avatar:hover .upload {
  opacity: 1;
}
.avatarImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
}
#to-hide {
  visibility: hidden;
}
.upload {
  width: 40px;
  height: 40px;
  background: #e2e2e2;
  border: none;
  box-shadow: 0 0 0 6px #fff;
  border-radius: 50%;
  outline: none;
  color: #000;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  transition: 200ms;
}
.upload:hover {
  background: #555;
  color: #fff;
}
